@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
  display: flex;
  justify-content: center;
  margin: 0;
  background: linear-gradient(#fff, aquamarine);
  width: 100vw;
  height: 100vh;
}

.app {
  width: 100vw;
  max-width: 600px;
}

.search {
  width: 100%;
  display: flex;
  justify-content: right;
  margin-bottom: 20px;
  position: sticky;
  top: 0;
}

.search input { 
  margin: 20px 15px;
  width: 100%;
  border: 2px solid #333;
  border-radius: 25px;
  height: 41px;
  background-color: transparent;
  font-size: 23px;
  padding: 0 50px 0 20px;
  color: #333;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}

.search button {
  margin: 20px 15px;
  position: absolute;
  border-radius: 0 25px 25px 0;
  width: 45px;
  height: 45px;
  border: none;
  color: #333;
  background-color: transparent;
  padding: 3px 10px 0 0;
  cursor: pointer;
}

img {
  width: 59px;
  margin: 0 11px -13px 0;
}

 p {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  text-align: center;
}

.temp {
  font-size: 50px;
}

.desc {
  font-size: 25px;
}

.city {
  padding: 20px 0 10px 0;
  font-size: 35px;
}

.loc {
  font-size: 19px;
}

.load {
  font-size: 15px;
}